<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Commute Check</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    Phone: {{my_account.phone}} <br>
    Name: {{my_account.fname}} {{my_account.lname}} <br>

    <br><a href="/route/new">Add a Route</a>

    <br><br>

    <table border="1">
        <tr>
            <td colspan="2">Route Status</td>
            <td></td>
            <td>Start Location</td>
            <td>End Location</td>
            <td>Local Run Time</td>
            <td>Delay Tolerance</td>
            <td colspan="7">Days to Run</td>
        </tr>
        {% for i in my_routes %}
        <tr>
            {% if i.active %}
            <td><b>Active</b></td>
            <td>(<a href="toggle_active_status/{{i.id}}">Turn Off</a>)</td>
            {% else %}
            <td><b>Inactive</b></td>
            <td>(<a href="toggle_active_status/{{i.id}}">Turn On</a>)</td>
            {% endif %}
            <td><a href="/route/edit/{{i.id}}">Edit</a></td>
            <td>{{i.start_location}}</td>
            <td>{{i.end_location}}</td>
            <td>{{i.local_run_time}} {{i.tz_desc}}</td>
            <td>{{i.delay_tolerance}}</td>
            <td>
                {% if i.run_sunday %}S{% endif %}
            </td>
            <td>
                {% if i.run_monday %}M{% endif %}
            </td>
            <td>
                {% if i.run_tuesday %}T{% endif %}
            </td>
            <td>
                {% if i.run_wednesday %}W{% endif %}
            </td>
            <td>
                {% if i.run_thursday %}T{% endif %}
            </td>
            <td>
                {% if i.run_friday %}F{% endif %}
            </td>
            <td>
                {% if i.run_saturday %}S{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <br>


</body>
</html>