{% extends "layout.html" %}
{% block body %}
  <head>
    <title>Commute Check Routes Homepage</title>
  </head>
      <br><br>
  
      <table>
          <tr>
              <th>On/Off</th>
              <th></th>
              <th>Start Location</th>
              <th>End Location</th>
              <th colspan="2">Local Run Time</th>
              <th>Delay Tolerance</th>
              <th colspan="7">Days to Run</th>
          </tr>
          {% for i in my_routes %}
          <tr>
              {% if i.active %}
              <td class="on_off"><a href="toggle_active_status/{{i.id}}"><img height="25px" src="{{ url_for('static', filename='on_button.png') }}" alt=""></a></td>
              {% else %}
              <td class="on_off"><a href="toggle_active_status/{{i.id}}"><img height="25px" src="{{ url_for('static', filename='off_button.png') }}" alt=""></a></td>
              {% endif %}
              <td class="edit"><a href="/route/edit/{{i.id}}">Edit</a></td>
              <td class="location">{{i.start_location}}</td>
              <td class="location">{{i.end_location}}</td>
              <td class="run_time">{{i.local_run_time}}</td>
              <td class="tz_desc">{{i.tz_desc}}</td>
              <td class="delay_tolerance">{{i.delay_tolerance}}</td>
              <td class="weekday">
                  {% if i.run_sunday %}S{% endif %}
              </td>
              <td class="weekday">
                  {% if i.run_monday %}M{% endif %}
              </td class="weekday">
              <td class="weekday">
                  {% if i.run_tuesday %}T{% endif %}
              </td class="weekday">
              <td class="weekday">
                  {% if i.run_wednesday %}W{% endif %}
              </td class="weekday">
              <td class="weekday">
                  {% if i.run_thursday %}T{% endif %}
              </td class="weekday">
              <td class="weekday">
                  {% if i.run_friday %}F{% endif %}
              </td class="weekday">
              <td class="weekday">
                  {% if i.run_saturday %}S{% endif %}
              </td class="weekday">
          </tr>
          {% endfor %}
      </table>

    
{% endblock %}

