{% extends "layout.html" %}
{% block body %}
  <head>
    <title>Commute Check Phone Verification</title>
  </head>
 
  <br>
  <div class="myform">
    <form id="authenticate" method="post" action="/account/authenticate">
      <fieldset>
        <legend>Enter the verification code sent to your phone:</legend>
        <p>
          <label for="">Verification code: </label>
          <input type="test" name="verification_code">
        </p>
        <p>
          <label for=""></label>
          <input type="submit" value="Sign In">
        </p>
        <p>
          <input type="hidden" id="phone_number" value="{{phone}}" name="phone">
        </p>
      </fieldset>
    </form>
    <br>
    <br>
  </div>
    
{% endblock %}
