<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>


<body>
  <div class="body_wrapper">
    <div class="header_wrapper">
      <div class="banner_content">
        Commute Check
      </div class="banner_content">
      <div class="nav_wrapper">
        <div class="user_info_wrapper">
          <div class="user_info">
            {% if my_account %}
            {{my_account.fname}} {{my_account.lname}}
            {% else %}
            &nbsp;
            {% endif %}
          </div>
          <div class="user_info">
            {% if my_account %}
            {{formatted_phone}}
            {% else %}
            &nbsp;
            {% endif %}
          </div>
        </div>
        <div class="links">
          <a href="/route/home">Home</a> | 
          <a href="/route/new">Add Route</a>
        </div>
      </div>
    </div class="header_wrapper">

    <div class="main_wrapper">

      {% block body %}
      {% endblock %}

    </div class="main_wrapper">

    <div class="footer">
      Return to <a href="https://www.drewshep.io/commute-check-2019">DrewShep.io</a>
    </div>

  </div class="body_wrapper">
  
</body>

</html>