<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    #map {
      margin-top: 0px;
      margin-left: 100px;
      height: 500px;
      width: 700px;
    }

    #myform {
      margin-top: 100px;
      margin-left: 100px;
    }

    #registration_form {
      display: table;
    }

    #registration_form p {
      display: table-row;
    }

    #registration_form label {
      display: table-cell;
      padding-right: 10px;
      text-align: right;
    }

    #registration_form input {
      display: table-cell;
    }

    .texttip {
      color: grey;
      font-style: italic;
    }

    .controls {
      width: 300px;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <p>
    <ul>
      <li>Step 1: Type your start and end locations</li>
      <li>Step 2: Drag the map to match your preferred route. This is the route against which the service will check for faster alternatives.</li>
      <li>Step 3: Fill out the remainder of the form.</li>
    </ul>
  </p>
  <div id="map"></div>
  <div class="myform">
    <!--removed $event from the function call, which was preventing the function from running-->
    <form id="registration_form" {% if my_route %}method="post" action="/route/edit/{{my_route.id}}"{% else %}method="post" action="/route/new"{% endif %} onsubmit="submit_preferred_route()">
      <p>
        <label for="">Start location:</label>
        <select name="start_location_type" id="" required>
          <option value="home" {% if my_route.start_location_type == "home" %}selected{% endif %}>Home</option>
          <option value="work" {% if my_route.start_location_type == "work" %}selected{% endif %} {% if not my_route %} selected {% endif %}>Work</option>
        </select>
        <input type="text" class="controls" placeholder="Start typing here" id="pac-input-start" name="start_location" value="{% if my_route %}{{my_route.start_location}}{% endif %}" required>
      </p>
      <p>
        <label for="">End location:</label>
        <select name="end_location_type" id="" required>
          <option value="home" {% if my_route.end_location_type == "home" %}selected{% endif %} {% if not my_route %} selected {% endif %}>Home</option>
          <option value="work" {% if my_route.end_location_type == "work" %}selected{% endif %}>Work</option>
        </select>
        <input type="text" class="controls" placeholder="Start typing here" id="pac-input-end" name="end_location" value="{% if my_route %}{{my_route.end_location}}{% endif %}" required>
      </p>
      <br>
      <p>
        <label for="">Run at:</label>
        <input type="time" name="local_run_time" id=""  value="{% if my_route %}{{my_route.local_run_time}}{% endif %}" required>
        <select name="local_timezone_offset" required>
            <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8" {% if my_route.local_timezone_offset == -8 %} selected {% endif %}>(GMT-08:00) Pacific Time (US & Canada)</option>
            <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7" {% if my_route.local_timezone_offset == -7 %} selected {% endif %}>(GMT-07:00) Mountain Time (US & Canada)</option>
            <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6" {% if my_route.local_timezone_offset == -6 %} selected {% endif %}>(GMT-06:00) Central Time (US & Canada)</option>
            <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5" {% if my_route.local_timezone_offset == -5 %} selected {% endif %} {% if not my_route.local_timezone_offset %} selected {% endif %}>(GMT-05:00) Eastern Time (US & Canada)</option>
        </select>
      </p>
      <p>
        <label for="">On these days of the week:</label>
        <input type="checkbox" value="Sunday" name="Sunday" {% if my_route.run_sunday %} checked {% endif %}> Sunday <br>
        <input type="checkbox" value="Monday" name="Monday" {% if my_route.run_monday %} checked {% endif %}> Monday <br>
        <input type="checkbox" value="Tuesday" name="Tuesday" {% if my_route.run_tuesday %} checked {% endif %}> Tuesday <br>
        <input type="checkbox" value="Wednesday" name="Wednesday" {% if my_route.run_wednesday %} checked {% endif %}> Wednesday <br>
        <input type="checkbox" value="Thursday" name="Thursday" {% if my_route.run_thursday %} checked {% endif %}> Thursday <br>
        <input type="checkbox" value="Friday" name="Friday" {% if my_route.run_friday %} checked {% endif %}> Friday <br>
        <input type="checkbox" value="Saturday" name="Saturday" {% if my_route.run_saturday %} checked {% endif %}> Saturday <br>  
      </p>
      <p>
        <label for="">Delay tolerance:</label>
        <select name="delay_tolerance" id="" required>
          <option value="1" {% if my_route.delay_tolerance == 1 %} selected {% endif %}>1 min</option>
          <option value="2" {% if my_route.delay_tolerance == 2 %} selected {% endif %}>2 min</option>
          <option value="3" {% if my_route.delay_tolerance == 3 %} selected {% endif %}>3 min</option>
          <option value="4" {% if my_route.delay_tolerance == 4 %} selected {% endif %}>4 min</option>
          <option value="5" {% if my_route.delay_tolerance == 5 %} selected {% endif %}>5 min</option>
          <option value="6" {% if my_route.delay_tolerance == 6 %} selected {% endif %}>6 min</option>
          <option value="7" {% if my_route.delay_tolerance == 7 %} selected {% endif %}>7 min</option>
          <option value="8" {% if my_route.delay_tolerance == 8 %} selected {% endif %}>8 min</option>
          <option value="9" {% if my_route.delay_tolerance == 9 %} selected {% endif %}>9 min</option>
          <option value="10" {% if my_route.delay_tolerance == 10 %} selected {% endif %}>10 min</option>
          <option value="11" {% if my_route.delay_tolerance == 11 %} selected {% endif %}>11 min</option>
          <option value="12" {% if my_route.delay_tolerance == 12 %} selected {% endif %}>12 min</option>
          <option value="13" {% if my_route.delay_tolerance == 13 %} selected {% endif %}>13 min</option>
          <option value="14" {% if my_route.delay_tolerance == 14 %} selected {% endif %}>14 min</option>
          <option value="15" {% if my_route.delay_tolerance == 15 %} selected {% endif %}>15 min</option>
        </select>
      </p>
      <p>
        <label for=""></label>
        <label for="" style="text-align:left;"><font class="texttip">Alerts are only sent if an alternate route exists which is faster than your preferred route + your delay tolerance.</font></label>
      </p>
      <br>
      <p>
        <label for=""></label>
        <input type="submit" {% if my_route %}value="Save Changes"{% else %}value="Sign Me Up"{% endif %}>
      </p>
      <input type="hidden" id="preferred_route_info" name="google_response">
    </form>
    <br>
    <br>
  </div>
  <script>
    
    var preferred_route;
    var autocomplete;

    function initAutocomplete() {
      // Create the autocomplete object, restricting the search predictions to
      // geographical location types.
      autocomplete_start = new google.maps.places.Autocomplete(
        document.getElementById('pac-input-start'), { types: ['geocode'] });
      autocomplete_end = new google.maps.places.Autocomplete(
        document.getElementById('pac-input-end'), { types: ['geocode'] });

      // Avoid paying for data that you don't need by restricting the set of
      // place fields that are returned to just the address components.
      autocomplete_start.setFields(['address_component']);
      autocomplete_end.setFields(['address_component']);

      // When the user selects an address from the drop-down, populate the
      // address fields in the form.
      // autocomplete.addListener('place_changed', fillInAddress);
    };
    
    
    function initMap() {
      var directionsService = new google.maps.DirectionsService();
      var directionsRenderer = new google.maps.DirectionsRenderer({
        draggable: true
      });
      var indy = new google.maps.LatLng(39.768776, -86.157875);
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: indy
      });
      
      directionsRenderer.setMap(map);
      
      var onChangeHandler = function () {
        calculateAndDisplayRoute(directionsService, directionsRenderer);
      };
      directionsRenderer.addListener('directions_changed', function() {
        onDrag(directionsRenderer.getDirections());
      });
      document.getElementById('pac-input-start').addEventListener('change', onChangeHandler);
      document.getElementById('pac-input-end').addEventListener('change', onChangeHandler);
    }
    
          
    function initPrefilledRoute() {
      var start_location_length = document.getElementById('pac-input-start').value.length;
      var end_location_length = document.getElementById('pac-input-end').value.length;
      {% if my_route %}
      var waypoints = "{{my_route.waypoints}}"
      {% endif %}
      if (start_location_length > 0 && end_location_length > 0) {
        console.log('ADJUST JS HERE');
        console.log(waypoints);
      }
    };
    
    
    var onDrag = function (my_directions) {
      preferred_route = my_directions;
    };


    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
      directionsService.route(
        {
          origin: { query: document.getElementById('pac-input-start').value },
          destination: { query: document.getElementById('pac-input-end').value },
          travelMode: 'DRIVING'
        },
        function (response, status) {
          if (status === 'OK') {
            preferred_route = response;
            // document.getElementById('response').textContent = JSON.stringify(response);
            directionsRenderer.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
    }

    function submit_preferred_route(e) {
      let hiddenbox = document.getElementById('preferred_route_info');
      // hiddenbox.value = preferred_route;  for some reason it wasn't working to pass the object through in the http request
      hiddenbox.value = JSON.stringify(preferred_route);
      console.log(preferred_route);
      e.preventDefault();
      // still need to figure out how to do preventDefault
    };


    function initialize() {
      initMap();
      initAutocomplete();
      initPrefilledRoute();
    };

  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{gm_api_key}}&libraries=places&callback=initialize"
    async defer>
  </script>
  {% if my_route %}
    <script>
      
    </script>
  {% endif %}
</body>

</html>